@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Your data inserted successfully</h2>
        @Html.ActionLink("InsertData", "Insert", "Admin", new { area = "" }, new { @class = "nav-link" })
    </div>
</body>
</html>
