<!DOCTYPE html>
<html>
<head>
    <title>Alert Example</title>
</head>
<body>
    <h2>Partial Register success</h2>
    <script>

        alert("Sign Up successful");


    </script>
</body>
</html>

